node_modules
build

__pycache__/
*.py[cod]
*$py.class

.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

*.log
*.log.*

src/main/src/data/configs/basic/config_basica.json
src/main/src/data/configs/states/estado_atual.json
src/main/src/data/binds/binds_salvas.json  
