.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.video-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    gap: 2vh;
    margin-top: 2vh;
}

.buttons button {
    padding: 2vh 4vh;
}

#foto-button {
    padding: 2vh 6vh;
    text-wrap: nowrap;
    background-color: green;
    border-style: solid;
    border-color: rgb(20, 255, 20);
}

#foto-button:hover {
    background-color: #31ad31;
}

.loading-container {
    display: flex;
    width: 100%;
    height: 96vh;
    align-items: center;
    justify-content: center;
}