.foto-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
}

.cropped-video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tutorial-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    gap: 10vh;
    height: fit-content;
    top: 25vh;
    background-color: #1f1f1f;
    border-radius: 10px;
}

.tutorial-container h1 {
    text-align: center;
}

.li-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    flex-wrap: wrap;
    padding-left: 5vw;
    padding: 20px;
    border-style: none;
    align-self: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    gap: 2vh;
    margin-top: 2vh;
}

.buttons button {
    padding: 2vh 4vh;
}

#foto-button {
    padding: 2vh 6vh;
    text-wrap: nowrap;
    background-color: green;
    border-style: solid;
    border-color: rgb(20, 255, 20);
}

#foto-button:hover {
    background-color: #31ad31;
}

.loading-container {
    display: flex;
    width: 100%;
    height: 96vh;
    align-items: center;
    justify-content: center;
}